---
Checks: '
clang-diagnostic-*,
clang-analyzer-*,
bugprone-*,
cert-*,
cppcoreguidelines-*,
-cppcoreguidelines-pro-type-union-access,-warnings-as-errors,
concurrency-*,
hicpp-*,
modernize-*,
-modernize-use-trailing-return-type,
performance-*,
portability-*,
readability-*,
misc-*,'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none
CheckOptions: [{ key: misc-non-private-member-variables-in-classes, value: IgnoreClassesWithAllMemberVariablesBeingPublic }]
...
